.PlayerControls {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PlayerControl {
    margin: 10px;
}

.TableWrapper {
    max-height: 400px;
    overflow-y: auto;
}